<% if has_banners? %>
  <%= render "shared/banner" %>
<% end %>

<% provide :title do %><%= t('budgets.index.title') %><% end %>

<% content_for :canonical do %>
  <%= render "shared/canonical", href: budgets_url %>
<% end %>

<% if @budgets.any? %>


  	<%= render 'budgets/budgets_block', budgets: @open_budgets, block_title: t("budgets.index.open_budgets") %>
  	<%= render 'budgets/budgets_block', budgets: @finished_budgets, block_title: t("budgets.index.finished_budgets")  %>
				
<% else %>
  <div class="expanded budget no-margin-top margin-bottom">
    <div class="row">
      <div class="small-12 medium-9 column padding">
          <h1><%= t("budgets.index.title") %></h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-12 column">
      <div class="callout primary">
        <%= t("budgets.index.empty_budgets") %>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="small-12 column">
    <div id="section_help" class="margin" data-magellan-target="section_help">
      <p class="lead">
        <strong><%= t("budgets.index.section_footer.title") %></strong>
      </p>
      <p><%= t("budgets.index.section_footer.description") %></p>
    </div>
  </div>
</div>
